@{
    ViewBag.Title = "editrolestest";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <h1><b>Welcome to the Edit Roles Page @User.Identity.Name</b></h1><br />
        <p>On this page you will be able to change user roles within the application.</p>
        for (int i = 0; i < ViewBag.User.Count; i++)
        {
            <br />
            <p>User:    @ViewBag.user[i]</p>
            <p>Role:    @ViewBag.userROLE[i] </p>
            using (Html.BeginForm("ProcessRoleChange2", "Admin", new { userID = ViewBag.userID[i], currentrole = ViewBag.userROLE[i] }))
            {
                @Html.DropDownList("selectedrole2", new List<SelectListItem>
           {
               new SelectListItem {Text="Select new Role", Value=ViewBag.userROLE[i] },
               new SelectListItem {Text="User", Value="User" },
               new SelectListItem {Text="Teacher", Value="Teacher" },
               new SelectListItem {Text="Admin", Value="Admin" },
           })
                <br />
                <br />
                <input type="submit" value="Submit" />
            }
            //          @Html.ActionLink("Edit Role", "changerole", "Admin", new { }, null)

            //code to send string list to controller and back
            //           var messagelist = new List<String>();
            //            messagelist.Add(ViewBag.userID[i]);
            //            messagelist.Add("This is my message to you");
            //            messagelist.Add(ViewBag.userID[i]);
            //
            //            ViewBag.messagesend = messagelist;
            //
            //
            //            @Html.ActionLink("Send String List", "testing", "Admin", new { message = Json.Encode(ViewBag.messagesend) }, null)
            //            <br />
            //        }
            //    <br />
            //    <br />
            //        if (ViewBag.message != null)
            //        {
            //            for (int i = 0; i < ViewBag.message.Count; i++)
            //            {
            //            <br />
            //            <br />
            //            @ViewBag.message[i]
            //            <br />
            //            <br />
            //            }
        }
    }
}