@{
    ViewBag.Title = "editroles";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
    <p>Welcome to the Edit Roles page @User.Identity.Name</p>

    <p>ADMIN PAGE</p>
    <br />
    <br />
    <p>USERS</p>
    <br />
    <p>Test string: @ViewBag.teststring</p>
    <br />
        for (int i = 0; i < ViewBag.User.Count; i++)
        {
        <br />
        @ViewBag.user[i]
        <br />
        @ViewBag.userID[i]
        <br />
        @ViewBag.userROLE[i]
        <br />
        @Html.ActionLink("Edit User Role", "testing", "Admin", new { userid = ViewBag.userID[i] }, null)
        <br />
        }
    <br />
    <br />
    }
}