@{
    ViewBag.Title = "NewMessage";
}

@if (Request.IsAuthenticated)
{
    <h1><b>Welcome to the New Message Page @User.Identity.Name</b></h1><br />

    <div>
        


        @using (Html.BeginForm("Submit", "Message", new { fromID = ViewBag.userdetails[1] }))
        {
            @Html.AntiForgeryToken()
            <p>From: <input type="text" value="@ViewBag.userdetails[0] @ViewBag.userdetails[2] " disabled /></p>
            <br />
            <p>

                To: @Html.DropDownList("selecteduser", new SelectList(ViewBag.senduserNAME))
            </p>
            <br />

            <p><input type="text" placeholder="Subject" name="subject" /></p>
            <br />
            <p>Message: </p>
            <p>
                <textarea name="message" cols="50" rows="10" wrap="hard"></textarea>
                <br />
                <br />
                <h3><b>Send Message: </b></h3>
                <input type="submit" value="Send" />

            </p>
        }
        <h3><b>Cancel Message: </b></h3>
        @using (Html.BeginForm("Index", "Message"))
        {
            <input type="submit" value="Cancel" />
        }

        <br />
    </div>

}