@{
    ViewBag.Title = "Teacher";
}

@if (Request.IsAuthenticated)
{
    <h1><b>Welcome to the Teacher page @User.Identity.Name</b></h1>
    <h4><b>You can only access this page if you are a teacher.</b></h4>

    <p>On the teacher page you can see a report that contains a list of users, there different roles and when they last accessed the site.</p>


    if (ViewBag.answers != null)
    {

        for (int i = 0; i < ViewBag.answers.Count; i = i + 19)
        {
            <br />
                <h3><b>Quiz Results: </b></h3>
                <h4><b>USER: @ViewBag.answers[i] </b></h4>
                <p><b>Date Attmpted: </b>@ViewBag.answers[i + 1]</p>
                <h5><b>Section 1 - Basic Layout</b></h5>
                <p><b>Question One: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 2]</b></li>
                <p>The correct answer was: <b>C</b>, HyperText Markup Language</p>
                <p><b>Question Two: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 3]</b></li>
                <p>The correct answer was: <b>A</b>, Both opening and closing tags</p>
                <p><b>Question Three: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 4]</b></li>
                <p>The correct answer was: <b>B</b>, DOCTYPE html</p>
                <p><b>Question Four: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 5]</b></li>
                <p>The correct answer was: <b>A</b>, html</p>
                <p><b>Question Five: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 6]</b></li>
                <p>The correct answer was: <b>A</b>, Yes</p><br />

                <h5><b>Section 2 - Embedded Content</b></h5>
                <p><b>Question Six:</b> </p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 7]</b></li>
                <p>The correct answer was: <b>A</b>, Yes</p>
                <p><b>Question Seven: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 8]</b></li>
                <p>The correct answer was: <b>B</b>, gif, jpg, png</p>
                <p><b>Question Eight: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 9]</b></li>
                <p>The correct answer was: <b>C</b>, img</p>
                <p><b>Question Nine: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 10]</b></li>
                <p>The correct answer was: <b>B</b>, False</p>
                <p><b>Question Ten: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 11]</b></li>
                <p>The correct answer was: <b>A</b>, alt tags</p>
                <p><b>Question Eleven: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 12]</b></li>
                <p>The correct answer was: <b>A</b>, Tells the browser to begin loading the video immediately</p>
                <p><b>Question Twelve: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 13]</b></li>
                <p>The correct answer was: <b>C</b>, Both</p><br />

                <h5><b>Section 3 - Navigation</b></h5>
                <p><b>Question Thirteen: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 14]</b></li>
                <p>The correct answer was: <b>C</b>, Both</p>
                <p><b>Question Fourteen: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 15]</b></li>
                <p>The correct answer was: <b>C</b>, Both</p>
                <p><b>Question Fifteen: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 16]</b></li>
                <p>The correct answer was: <b>B</b>, 7</p>
                <p><b>Question Sixteen: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 17]</b></li>
                <p>The correct answer was: <b>B</b>, 150px</p>
                <p><b>Question Seventeen: </b></p>
                <li>@ViewBag.answers[i] selected <b>@ViewBag.answers[i + 18]</b></li>
                <p>The correct answer was: <b>A</b>, 5 seconds</p>
                <br />
                <br />
           
        }
    }
    <p>
        <a href="@Url.Action("Testing", null, new { area = string.Empty, controller = "Teacher" }, Request.Url.Scheme)">

        </a>
    </p>
}