@{
    ViewBag.Title = "Teacher";
}

@if (Request.IsAuthenticated)
{
    <h1><b>Welcome to the Teacher page @User.Identity.Name</b></h1>
    <h4><b>You can only access this page if you are a teacher.</b></h4>

    <p>On the teacher page you can see a report that contains a list of users, there different roles and when they last accessed the site.</p>

    <p>@ViewBag.teststring</p>

    <p>@ViewBag.RoleList</p>

    if (ViewBag.UserList != null)
    {
        for (int i = 0; i < ViewBag.UserList.Count; i++)
        {
            @ViewBag.UserList[i]<br />
        }
    }


    <p>
        <a href="@Url.Action("Testing", null, new { area = string.Empty, controller = "Teacher" }, Request.Url.Scheme)">
            
        </a>
    </p>
}